@import "./color.scss";
@import "./font.scss";
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* 水平间距 */
.mt50 {
  margin-top: 50px;
}

.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr20 {
  margin-right: 20px;
}
.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}
.ml25{
  margin-left: 25px;
}
.ml30{
  margin-left: 30px;
}

.ml20 {
  margin-left: 20px;
}

.ml10 {
  margin-left: 10px;
}
.ml8 {
  margin-left: 8px;
}
.ml6 {
  margin-left: 6px;
}
.ml5{
  margin-left: 5px;
}
.mar0-20 {
  margin: 0 20px;
}

.m50 {
  margin: 50px;
}

/* 字号 */
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs30 {
  font-size: 30px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}

.fs40 {
  font-size: 40px;
}

.fs42 {
  font-size: 42px;
}

.fs44 {
  font-size: 44px;
}

/*宽度*/
.w500 {
  width: 500px;
}
.w300 {
  width: 300px;
}
.w200 {
  width: 200px;
}
.w150 {
  width: 150px;
}
.w120 {
  width: 120px;
}
.w100 {
  width: 100px;
}
.w50 {
  width: 50px;
}
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-2 {
  -webkit-line-clamp: 2;
}

.line-3 {
  -webkit-line-clamp: 3;
}

.line-4 {
  -webkit-line-clamp: 4;
}

.line-5 {
  -webkit-line-clamp: 5;
}
.line-2,
.line-3,
.line-4,
.line-5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /*  // 弹性伸缩盒 */
  -webkit-box-orient: vertical;  /* // 设置伸缩盒子元素排列方式 */
}
.pointer {
  cursor: pointer;
}
