// @primary-color:#1DA57A;

$primary-btn-color:#ffffff;
$primary-btn-color-a:rgba(0,16,49,.6);

$primarng-bg-9:rgba(255,255,255,.9);
$danger-color:#ff7272;


$text-color:#999999;

$herder-height:60px;
:export {
  primary-btn-color: $primary-btn-color;
}